<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido {{ username }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [routerLink]="['/mis-asignaturas']">Mis Asignaturas</ion-item>
    <ion-item [routerLink]="['/mis-asistencias']">Mis Asistencias</ion-item>
    <ion-item [routerLink]="['/registrar-asistencia']">Registrar Asistencia</ion-item>
    <ion-item [routerLink]="['/cambiar-clave']">Cambiar Clave</ion-item>
  </ion-list>

  <ion-button expand="full" color="danger" (click)="logout()">Cerrar Sesión</ion-button>
</ion-content>
